:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

p {
  margin: 0;
}

.img-xlarge {
  width: 70px;
}

.img-large {
  width: 50px;
}

.img-med {
  width: 30px;
}

.img-small {
  width: 25px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content auto;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-auto-rows: min-content;

  background-color: #1992d4;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.logo,
.nav-1 li,
.nav-2 li {
  display: flex;
  align-items: center;
}

.logo {
  gap: 20px;
  margin: 30px;
  font-size: 2.5rem;
}

.nav-1,
.nav-2 {
  padding: 0;
  margin: 39px;
  margin-top: 0;
  list-style-type: none;
}

.nav-1 li,
.nav-2 li {
  gap: 31px;
  padding: 8px 0;
}

/* HEADER */

.header {
  position: relative;
  box-shadow: 0px 5px 5px #ced3da;

  font-weight: bold;
  white-space: nowrap;
}

.header-top,
.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 25px;
  padding: 10px 50px;
}

.search-bar {
  height: 30px;
  border: none;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  min-width: 100px;
  margin-right: auto;
  background-color: #e2e8f0;
}

.header-top p {
  font-size: 2rem;
}

.account {
  margin-right: auto;
}

.account-welcome {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.account-name {
  font-size: 2.5rem;
}

.header-bottom button {
  border: none;
  border-radius: 20px;
  padding: 10px 30px;

  background-color: #1992d4;
  color: #fff;
  font-weight: bold;
}

/* MAIN CONTENT */

.main-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 0 20px 20px 20px;
  background-color: #e2e8f0;
}

/* Your Projects */

.your-projects {
  grid-row: 1 / 3;
}

/* Announcements */

.announcements-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ced3da;

  background-color: #fff;
  font-size: 1.4rem;
}

.announcement {
  padding: 15px 0;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}

.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  padding-bottom: 0;
}

.announcement-title {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Trending */

.trending-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ced3da;

  background-color: #fff;
}

.trending-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.trending-item:not(:last-child) {
  margin-bottom: 10px;
}

.trending-item p:last-child {
  margin-top: 5px;
  font-size: 1.3rem;
}
